<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand"> Task Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#my-nav"> 
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="my-nav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/add" class="nav-link btn btn-primary btn-sm">ADD</a>
                </li>
            </ul>
        </div>
    </div>
</nav>