
<div class="card card-body text-shadow ">
    <div class="d-flex align-items-center">
<i class="bi bi-exclamation-triangle-fill text-danger" style="font-size: 36px;"></i>
<h3 class="ms-5"> Error: {{error}}</h3>

    </div>
</div>